html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Spectral', sans-serif;
}
/* slide */
.slider_container{
    width: 100%;
}
.slider{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.slider_item {
    flex: 0 0 100%;
}

.slider_item img{
    width: 100%;
}
.slide_sau, .slide_truoc{
    position: absolute;
    top: 50%;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: translateY(-50%);
    padding: 0px 1rem;
    border-radius: 3rem;
    cursor: pointer;
}

.slide_truoc {
    left: 0;
    margin-left: 2rem;
  }
  
.slide_sau {
right: 0;
margin-right: 2rem;

}

/* container */
.container {
    width: 90%;
    margin-left: 5%;
    margin-top: 1.5rem;
    /* background-color: antiquewhite; */
}
.icon_down{
    width: 100%;
    text-align: center;
}
.bi-chevron-down{
    font-size: 2rem;
}
/*banner*/
.home_banner{
    margin-top: 5rem;
    display: flex;
    width: 100%;
}
.banner_trai, .banner_phai{
    width: 49%;
    display: grid;
    justify-items: center;
    cursor: pointer;
}
.text_banner_trai h1, .text_banner_phai h1{
    text-align: center;
    line-height: 1.7rem;
    font-size: 3.4rem;
    margin: 2rem 0;
}
.text_banner_trai p, .text_banner_phai p{
    text-align: center;
    line-height: 1.7rem;
    font-size: 1.4rem;
    margin: 2rem 0;
}

.banner_phai{
    margin-left: 2%;
}
.banner_phai img:hover{
    scale:105%;
    transition: 0.5s;
}
.banner_trai img:hover{
    scale:105%;
    transition: 0.5s;

}
.Mua_ngay{
    width: 9rem;
    background-color: white;
    padding: 0.5rem;
    border: 0.1px dashed black;
    border-radius: 0.7rem;
}

/* danh mục sản phẩm */
.danh_muc_sp{
    margin-top: 5rem;
    text-align: center;
}
.danh_muc_sp_img{
    display: flex;
    justify-content: space-between;
}
.ds_san_pham{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.muc_sp{
    width: 24%;
}

/* sản phẩm mới ra mắt */
.sp_moi{
    margin-top: 5rem;
}
.san_pham{
    display: grid;
    width: 19%;
    min-width: 200px;
}
.san_pham img{
    width: 100%;
    position: relative;
}
.gia_sp{
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    display: flex; 
    width: 100%; 
    padding-top: 0;
}
/* banner2 */
.banner2{
    margin-top: 7rem;
}
.banner2_tren{
    display: flex;
    width: 100%;
    text-align: center;
}
.banner2_text {
    width: 50%;
    display: grid;
    align-content: center;
    justify-items: center;
}
.banner2_text h1{ 
    font-size: 3rem;
}
.banner2_text p{ 
    padding: 0 2rem;
    font-size: 1.4rem;
}
.banner2_duoi{
    display: flex;
    width: 100%;
    text-align: center;
}
.banner2 img{
    width:50% ;
}
.banner2 button{
    width: 9rem;
    background-color: white;
    padding: 0.5rem;
    border: 0.1px dashed black;
    border-radius: 0.7rem;
    cursor: pointer;
    margin-top: 1rem;
}

/*tin nổi bật*/
.tin_tuc{
    margin-top: 5rem;
}

.tin_tuc h1{
    font-size: 2.7rem;
    text-align: center;
}
.news{
    display: flex;
    margin-top: 1rem;
}
.new{
    width: 35%;
    margin-right: 1rem;
}
.tin_tuc img{
    width: 100%;
}
.tin_tuc_text{
    padding: 0 1rem;
}


/* luxe mode */

.Luxe_mode{
    margin-top: 5rem;
    width: 100%;
    
}
.Luxe_mode1
{
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 1.5rem 0rem;
}
.Luxe_mode1 h1{
    font-size: 2rem;
    margin: 0;
    font-weight: 500;
    margin-bottom: 2rem;
}
.Luxe_mode1 p{
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 2rem;
    padding-left:5.5rem ;
    padding-right:5.5rem ;
}
.Luxe_mode2{
    display: flex;
    margin-top: 5rem;
}
.Luxe_mode2_box{
    width: 25%;
    /* background-color: aqua; */
    text-align: center;
    line-height: 2.4rem;
}
.Luxe_mode2_box i{
    font-size: 3rem;

}

@media (max-width: 740px){
    .home_banner{
        display: grid;
    }
    .banner_trai, .banner_phai{
        width: 100%;
        margin-top: 1rem;
        /* display: grid;
        justify-items: center;
        cursor: pointer; */
    }
    .slide_truoc, .slide_sau{
        top: 40%;
    }
    .banner2_tren {
        display: flex;
        flex-direction: column;
    }
    .banner2_duoi {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
    }
    .banner2_tren img,
    .banner2_duoi img,
    .banner2_text {
        width: 100%;
    }
    
}

@media (min-width: 740px) and (max-width: 1023px){
    .home_banner{
        display: grid;
    }
    .banner_trai, .banner_phai{
        width: 100%;
        margin-top: 1rem;
        /* display: grid;
        justify-items: center;
        cursor: pointer; */
    }
    .slide_truoc, .slide_sau{
        top: 29%;
    }
    .banner2_tren {
        display: flex;
        flex-direction: column;
    }
    .banner2_duoi {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
    }
    .banner2_tren img,
    .banner2_duoi img,
    .banner2_text {
        width: 100%;
    }
    
}